<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Astro - Group B</title>
  </head>
  <body>
    <h1>Group B Version: Welcome to the A/B Testing Page</h1>
    <p>This is the for Group B in our A/B testing experiment.</p>
  </body>
</html>
