---
import BaseLayout from "../layouts/BaseLayout.astro";
import PricingA from "../components/PricingA.astro";
import PricingB from "../components/PricingB.astro";
import CtaX from "../components/CtaX.astro";
import CtaY from "../components/CtaY.astro";
---

<BaseLayout>
  <h1>About Us</h1>
  <p>This is the about page with multiple experiments.</p>

  <PricingA />
  <PricingB />
  <CtaX />
  <CtaY />
</BaseLayout>