---
import ABSwitch from "../components/ABSwitch.astro";
import HomeA from "../components/HomeA.astro";
import HomeB from "../components/HomeB.astro";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>A/B Testing</title>
  </head>
  <body>
    <ABSwitch
      variants={[
        { value: "a", component: HomeA },
        { value: "b", component: HomeB }
      ]}
    />
  </body>
</html>
