---
import type { AstroComponentFactory } from "astro/runtime/server/render/index.js";

interface Props {
  groups: {
    group: string;
    component: AstroComponentFactory;
  }[];
}

const { groups } = Astro.props;
---

<div id='ab-container'>
  {
    groups.map(({ group, component: Component }) => (
      <div
        id={`group-${group}`}
        hidden
      >
        <Component />
      </div>
    ))
  }
</div>

<script>
  const urlParams = new URLSearchParams(window.location.search);
  let group = urlParams.get("group");

  if (!group) {
    group = Math.random() < 0.5 ? "a" : "b";
  }

  const component = document.getElementById(`group-${group}`);
  if (component) component.hidden = false;
</script>
