---
import { multilang } from "../i18n/pages";
import Experiment from "./Experiment.astro";

interface Props {
  t: ReturnType<typeof multilang.$use>;
}

const { t } = Astro.props;
---

<Experiment experiment='lang:one'>
  <h2>{t.sub_title()}</h2>
  <p>{t.sub_text()}</p>
</Experiment>
