---
import type { multilangVariantB } from "../i18n/pages";
import Experiment from "./Experiment.astro";

interface Props {
  t: ReturnType<typeof multilangVariantB.$use>;
}

const { t } = Astro.props;
---

<Experiment experiment='lang:two'>
  <h2>{t.title()}</h2>
  <p>{t.text()}</p>
</Experiment>
